#divCreate {
    /* Div that houses the plus sign image */
    /* background-color: var(--red); */
    /* border: 1px solid var(--white); */
    /* width: 150px;*/
    /* margin: 10px; */
    /* border-radius: 15px;
    border: 1px solid purple;
    margin-top: 50px; */ 
}

#imageAddDiv {
    width: 150px;
}

#createCard {
    width: 140px;
    height: 140px;
    margin: 10px; 
    display: flex; 
    background-color: var(--red);
    border: 1px solid white;
    margin: 2px;
    border-radius: 15px;
    /* margin-top: 300px;
    margin-left: 100px;*/
} 


#addImg {
    display: flex;
    justify-content: center;
    /* margin-top: 20%; */
    height: 110px;
    width: 110px;
    padding: 5px;
    background-color: var(--red);
    margin: auto;
}


#addModal {
    border-radius: 25px;
}

body {
    font-family: var(--font-one);
    font-size: medium;
    
}

#modalHeader {
    background-color: var(--green);
    color: var(--white);
}

#modalBody {
    background-color: var(--green);
    
}

#formBody {
    background-color: var(--green);
    color: var(--white);
    font: 14px;
}

#recInput {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
}

#giftInput {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
}

#costInput {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
}

#storageInput {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
}

#buyInput {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
}

#wrapInput {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
}

#delvInput {
    background-color: var(--red);
    color: var(--white);
    border-radius: 15px;
}

#formSave {
    background-color: var(--red);
    color: var(--white);
    border: 1px solid var(--white);
    border-radius: 15px;
    margin-left: 190px;
}

/* #dropdown {
    color: var(--green);
    font-family: var(--font-one);
    padding: 10px;
} */

/* #caret {
    background-color: var(--green);
} */