

#closingText {
    margin: auto;
    font-family: var(--font-one);
    color: var(--yellow);
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    /* border: 1px solid white; */
    z-index: 1;
    /* margin-left: 155px; */
   }

#footerBar {
    border-color: var(--yellow);
    margin-top: 0;
}

#footerSidebar {
    width: 155px;
    background-color: var(--green);
    /* border: 1px solid white; */
    margin-top: -20px;
    margin-left: 10px;
}