#toggleLogin {
    display: flex;
    flex-direction: row;
    font-family: var(--font-red);
    color: var(--white);
    background-color: var(--red);
}

#buttonDiv {
    /* border: 1px solid pink; */
    display: flex;
    justify-content: center;
}